* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.header {
    display: flex;
    justify-content:space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 15px;
    margin-bottom: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;

}

.container {
    display: flex;
    justify-content:space-between;
}

.text-block {
    position:relative;
    background-color: lightcyan ;
    margin-left: 0px;
    padding-left: 50px;
    padding-right: 10px;
}
h1 {
    color: #2a607c;
    font-size: 46px;
}

.header nav {
    display: flex;
    justify-content: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: lightcyan;
}

.header nav ol {
    list-style-type: none;
}

.header nav ol li {
    display: inline-flex;
    justify-content: right;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    margin-left: 25px;
    color: lightcyan;
}

a {
    color: lightcyan;
    text-decoration: none;
}
nav a:hover {
  color: #fff;
}

p {
    display: inline-flexbox;
    flex-wrap: wrap;
    font-size: 16px;
    color: #2a607c;
}

.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("/assets/images/blurdots.jpg");
    background-size: cover;
    background-position: center;
}

.container-2 {
  position: relative;
}

.text-block-2 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: lightcyan ;
    padding-left: 30px;
    padding-right: 5px;
}

h2 {
    color: #2a607c;
    font-size: 32px;
}

main {
    /* Turns this element into a flexbox */
    display:flex;
    flex-wrap: wrap;
}

.content {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
    padding: 20px;
    margin: 1% auto;
}


.card {
    display: flex;  
    flex-direction: column;
    justify-content:space-evenly; 
    padding: 10px;
}


h3 {
  float: left;
  color: #2a607c;
  font-size: 44px;
  justify-content: right;
}

.container-3 {
  position: relative;
}

.text-block-3 {
    position: absolute;
    left: 375px;
    top: 750px;
    background-color: lightcyan ;
    padding: 5px;
    
}
.text-block-4 {
  position: absolute;
  left: 375px;
  top: 900px;
  background-color: lightcyan ;
  padding: 5px;
  
}

.text-block-5 {
  position: absolute;
  right: 350px;
  top: 900px;
  background-color: lightcyan ;
  padding: 5px;
  
}
.text-block-6 {
  position: absolute;
  right: 300px;
  top: 1050px;
  background-color: lightcyan ;
  padding: 5px;
  
}

.text-block-7 {
  position: absolute;
  left: 375px;
  top: 1050px;
  background-color: lightcyan ;
  padding: 5px;
  
}

h4 {
    color: #2a607c;
    font-size: 30px;
}

.nature {
    height: 300px;
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: lightcyan;
}

a:hover nature {
    fill-opacity: 50%;
}

img {
    float: left;
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-style: solid;
    border-color: lightcyan;
    border-width: 5px;
    margin-left: 1%;
    margin-right: 1%;
    opacity: 1;
	  -webkit-transition: .3s ease-in-out;
	  transition: .3s ease-in-out;
  }

  img:hover {
    opacity: .5;
  }

.row {
    display: flex;
    flex-wrap: wrap;
  }
  
.column {
    flex: 50%;
    padding: 5px;
  }
  
.vertical-line {
    border-left: 3px solid #2a607c;
    padding-left: 10px;
    margin-left: 330px;
  }

.footer-nav {
  display: flex;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
}


#profile {
    float: left;
    height: 150px;
    width: 150px;
    object-fit: cover; 
    border-style: solid;
    border-color: lightcyan;
    border-width: 5px;
}

.footer nav ol {
    list-style-type: none;
}

.footer-nav-ol {
  display: inline-flex;
  justify-content: right;
  padding-top: 115px;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  margin-left: 25px;
  padding-left: 10px;
  color: #2a607c;
  padding-right: 10px; 
  }



/* Cards are split into two columns at 992px or smaller */
@media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }
  }
  
  /* Cards are stacked on top of each other at 768px or smaller */
  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
    main,
  nav {
    flex-direction: column;
  }
  }

  @media only screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}

