* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}

.container {
    display: flex;
    justify-content: left;
}

.text-block {
    position: absolute;
    right: 950px;
    top: 20px;
    background-color: lightcyan ;
    padding-left: 60px;
    padding-right: 10px;
}
h1 {
    color: navy;
    font-size: 48px;
}

.header nav {
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: lightcyan;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    display: inline-flexbox;
    font-size: 16px;
}

.background {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/blurdots.jpg");
    background-size: cover;
    background-position: center;
}

main {
    /* Turns this element into a flexbox */
    display:flex;
    flex-wrap: wrap;
}

.content {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
    padding: 20px;
    margin: 1% auto;
}

    
section {
    flex: 70%;
    background-color: #fff;
    padding: 20px;
  }

.card {
    /* A flex-basis of 200px sets the starting width */
  /* A flex-grow value of 1 allows the elements to evenly grow to fill the remaining space */
    flex: 1 0 200px;  
    border-style: hidden;
    border-width: 1px;
    padding: 10px;
    align-items: left;
}
h2 {
    float: left;
    color: navy;
    font-size: 48px;
    text-align: left;
    margin-right: 20px;
    margin-left: 100px;
}

#nature {
    min-height: 200px;
    min-width: 100px;
}


.card img {
    height: 50%
    width: 50%;

  }

  .card.camera {
    /* With a flex-grow value of 2, this element grows twice as wide as others */
    /* The second value, flex-shrink, defines how the element will shrink if it can't fit */
    flex: 2 1 200px;
  }
  

/* Cards are split into two columns at 992px or smaller */
@media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }
    /* Change the header color */
    header {
      background: #772014;
    }
  }
  
  /* Cards are stacked on top of each other at 768px or smaller */
  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
    main,
  nav {
    flex-direction: column;
  }
  }
  
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
